// #homepage{
//     background-color: #141414;
//     color: #fff;
// }

.appmain{
    background-color: #1c1c1c;
    max-width: 560px !important;
    margin: 0 auto;
    padding: 30px;
    height: calc(100vh - 60px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo{
        margin: 0 auto;
    }
}

.plantripbtn{
    background-color: #fff;
    color: #1c1c1c;
    font-size: 18px;
    padding: 10px;
    border-radius: 50px;
    width: 90%;
    margin: 0 5%;
    text-align: center;
    a{
        color: #1c1c1c;
        text-decoration: none;
    }
}