.signUpWrapper {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #00000073;
  justify-content: center;
  align-items: center;

  .signup {
    width: 100%;
    .logo{
      display: flex;
      justify-content: center;
    }

    h2 {
      margin-top: 0;
      font-family: Instrument Sans;
      font-size: 32px;
      font-weight: 600;
      line-height: 39.04px;
      text-align: left;
      text-transform: uppercase;
      color: #000;
    }
    input,
    p,
    button {
      // width: 100%;
      outline: none;
      font-family: Instrument Sans;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      margin: 0;
      color: #737373;
    }
    .errors {
      margin-left: 30px;
      margin-top: 10px;
      color: red;
    }

    form {
      margin-top: 30px;
      display: flex;
      margin-bottom: 20px;
      flex-direction: column;
      gap: 30px;

      input {
        border: 1px solid #fff;
        border-radius: 50px;
        color: #fff;
        padding: 20px;
        width: calc(100% - 80px);
        margin: 0 20px;
        background: transparent;
      }

      button {
        border-radius: 50px;
        color: #232323;
        padding: 20px;
        margin: 0 20px;
        background: #b79a03;
        outline: 0 !important;
        border: 0;
        text-align: center;
      }
    }

    .alternate {
      font-size: 16px;
      color: #fff;
      text-align: center;
      margin: 0 auto;
      font-weight: 400;
      span{
        font-weight: 600;
      }
      a{
          color: #fff; 
          text-decoration: none;
          &:hover{
              text-decoration: underline;
          }
      }
    }
  }
}
