

.container{
  max-width: 1600px;
  @media (max-width:768px){
      max-width: 460px;
  }
}

/* FOR DATE PICKER */
.date-range-picker {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  padding: 20px 0;

  .label {
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
  }

  .date-inputs {
    display: flex;
    border: 1px solid #d1d1d1;
    color: #333030;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 22px;
    border-radius: 6px;
    width: calc(100% - 44px);
    background: transparent;
  }

  .date-input {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    cursor: pointer;
    width: 50%;
    height: 100%;
    position: relative;
    &:hover {
      /* border-color: #888; */
    }

    .calendar-icon {
      font-size: 16px;
      color: #888;
      position: absolute;
      right: 32px;
      top: 24px;
    }

    .date-text {
      color: #7a7a7a;
      font-size: 18px;
      font-weight: 500;
      padding: 0;
      position: relative;
      width: 100%;
    }
  }
}

.tab-content{
  overflow-y: scroll;
  height: calc(100vh - 210px);
  /* Firefox */
  scrollbar-width: none;
  /* IE & Edge */
  -ms-overflow-style: none;
}
/* Chrome, Safari, Opera */
.scroll-container::-webkit-scrollbar {
  display: none;
}