.tabs {
    .tab-buttons {
      display: flex;
      border-bottom: 1px solid #e6e6e6;
      button {
        flex: 1;
        padding: 10px;
        cursor: pointer;
        border: none;
        background: #f4f4f4;
        transition: background 0.3s ease;
        font-size: 16px;
        color: #888888;
  
        &.active {
          color: #494949;
          border-bottom: 2px solid #ffc300;
        }
  
        &:hover {
          // background: #ddd;
        }
      }
    }
  
    .tab-content {
        // padding: 20px;
        // background: #fff;
        // border: 1px solid #ddd;
        // margin: 30px 0;
        // border-radius: 6px;
    }
  }